<div class="container">
<p id=”alert”><%= alert %></p><h1>Login</h1><%= form_tag sessions_path do |form| %>
<div class="row">  
  <div class=”field”>
    <div class="col-md-1">
    <%= label_tag :email %>
    </div>
    <div class="col-md-11">
    <%= text_field_tag :email %>
    </div>
  </div>  
</div>
<div class="row">
  <div class=”field”>
    <div class="col-md-1">
    <%= label_tag :password %>
    </div>
    <div class="col-md-11">
    <%= password_field_tag :password %>
    </div>
  </div>
</div>
  <div class=”actions”>
    <%= submit_tag "Login" %>
  </div>
<% end %>
</div>