<div class="container">
<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field">
    <div class="col-md-1">
    <%= f.label :deviceID %>
    </div>
    <div class="col-md-11">
    <%= f.number_field :deviceID %>
    </div>
  </div>
</div>
<div class="row">
  <div class="field">
    <div class="col-md-1">
    <%= f.label :description %>
    </div>
    <div class="col-md-11">
    <%= f.text_area :description %>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
