<nav class="navbar">
  <%= link_to 'Home', devices_path %> | 
  <%= link_to 'Employees', showEmployee_path %>
</nav>

<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Deviceid</th>
      <th>Description</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.deviceID %></td>
        <td><%= note.description %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %> 
