<div class="container">
<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field">
    <div class="col-md-1">
      <%= f.label :staffId, "Staff Id" %>
    </div>
    <div class="col-md-11">
      <%= f.number_field :staffId %>
    </div>
  </div>
</div>

<div class="row">
    <div class="field">
      <div class="col-md-1">
        <%= f.label :OS %>
      </div>
      <div class="col-md-11">
        <%= f.text_field :OS %>
      </div>  
    </div>
</div> 

<div class="row">
  <div class="field">
    <div class="col-md-1">
      <%= f.label :CPU %>
    </div>
    <div class="col-md-11">
      <%= f.text_field :CPU %>
    </div>
  </div>
</div> 

<div class="row">
  <div class="field">
    <div class="col-md-1">
      <%= f.label :RAM %>
    </div>
    <div class="col-md-11">
      <%= f.number_field :RAM %>
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <div class="col-md-1">
      <%= f.label :Model %>
    </div>
    <div class="col-md-11">
      <%= f.text_field :Model %>
    </div>
  </div>
</div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
</div>