<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row top-buffer">
    <p class="label label-info">
      <strong>Staff Id:</strong>
      <%= @device.staffId %>
    </p>
  </div>
  
  <div class="row top-buffer">
    <p class="label label-info">
      <strong>OS:</strong>
      <%= @device.OS %>
    </p>
  </div>
  
  <div class="row top-buffer">
    <p class="label label-info">
      <strong>CPU:</strong>
      <%= @device.CPU %>
    </p>
  </div>

  <div class="row top-buffer">
    <p class="label label-info">
      <strong>RAM:</strong>
      <%= @device.RAM %> GB
    </p>
  </div>

  <div class="row top-buffer">
    <p class="label label-info">
      <strong>Model:</strong>
      <%= @device.Model %>
    </p>
  </div>

  <div class="row top-buffer">
      <div class="label label-default">
        <%= link_to 'Edit', edit_device_path(@device) %> 
      </div>
      <div class="label label-default">
        <%= link_to 'Back', devices_path %>
      </div>

  </div>
</div>
