
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
  <p id="notice"><%= notice %></p>

<h1>
<%= link_to 'Employees', showEmployee_path %>
</h1>
<h1>
<%= link_to 'Device Notes' , showdeviceNotes_path %>
</h1>

<h1><center>Organization Device Tracker</center></h1>
<br>

<table class='table'>
  <thead>
    <tr>
      <th>Device ID</th>
      <th>Staff ID</th>
      <th>Operating System</th>
      <th>CPU</th>
      <th>RAM</th>
      <th>Model</th>
      <th colspan="4">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.id %></td>
        <td><%= device.staffId %></td>
        <td><%= device.OS %></td>
        <td><%= device.CPU %></td>
        <td><%= device.RAM %></td>
        <td><%= device.Model %></td>
        <td><%= link_to 'Add Device Notes', deviceNotes_path %></td>
        <td><%= link_to 'Show Device Notes', showdeviceNotes_path %></td>
        <td><%= link_to 'Show Device Details', device %></td>
        <td><%= link_to 'Edit Device', edit_device_path(device) %></td>
        <td><%= link_to 'Delete Device', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>
<%= link_to 'Add New Device', new_device_path %>
</h1>

  
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>

