<p id="notice"><%= notice %></p>

<p>
  <strong>Staffid:</strong>
  <%= @device.staffId %>
</p>

<p>
  <strong>Os:</strong>
  <%= @device.OS %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @device.CPU %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @device.RAM %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device.Model %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
